
body {
  margin: 0;
  padding: 0;
}

section{
  width: 100%;
  height: 100%;
  background-color: rgb(203, 221, 245);
  margin: 0;
  padding: 20x;
}
header {
  background-color: #3498db; 
  padding: 20px; 

}

header nav a img{
  width:100px ;
  height: auto;
}

header nav a {
  background-color: blue;
  text-decoration: none; /* Elimina el subrayado predeterminado */
  color: #e7ecf0; /* Cambia el color del texto del enlace */
  transition: color 0.3s ease; /* Agrega una transición suave al cambio de color */
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
  font-size: 24px;
}

.filterDiv{
  background-color: rgb(252, 252, 252);
  margin-top: 40px;
  padding: 20px;

}

/* Estilo estadisticas*/
h3{margin-left: 20px;

}

/* Estilo vista home*/

.sectionHome {
  display: flex;
  flex-direction: column;
}

.contenedorHome {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px; 
}

.imagenHome {
  flex-basis: 40%;
}

.textoHome {
  flex-basis: 50%; 
}

.textoHome p {
  font-size: 20px;
  
}

img {
  width: 500px;
  height: 500px;
  border-radius: 10px;
}



/* Estilo para el contenedor de la targetas*/
ul {
  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Ajusta según tus preferencias */
    list-style-type: none;
  
}


.targeta {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 15px;
  background-color: #fff;
  width: 30%; 
  box-sizing: border-box;
  align-items: center;
}

/* Estilos específicos para la imagen dentro de la tarjeta */
  .targeta img {
    max-width: 100%;
    border-radius: 4px;
  }
  


/* Estilos para el título de la tarjeta */
.targeta h2 {
  color: #333;
  font-size: 1.5em;
  margin-bottom: 10px;
}

/* Estilos para la descripción de la tarjeta */
.targeta .descripcion {
  color: #666;
  font-size: 1em;
  line-height: 1.4;
}

/* Estilos para el año de nacimiento en la tarjeta */
.targeta .añoDeNacimiento {
  color: #333;
  font-size: 1em;
}

footer{
  background-color: blue;
  color: #e7ecf0; /* Cambia el color del texto del enlace */
  margin: 0px;
  padding: 10px;
  font-size: 24px;

}


.chat {
  width: 1000px;
  display: flex;
  padding: 20px;
  margin-left: 150px;
}

/* Estilos para la información del chat */
.infoChat {
  margin: 0;
  text-align: left; /* Centra el texto */
  max-width: 500px; /* Establece la anchura máxima según sea necesario */
  
}

/* .img-chat {
  max-width: 40%;
  padding: 10px;
  box-sizing: border-box;
}

.img-chat img {
  max-width: 100%;
  height: auto;
}  */

/* Estilos para la tarjeta de chat */


/* Estilos Chat Grupal*/
#contenedorChatGrupal {
  display: flex;
  padding: 50px;
   margin-left: 200px;
}

.imagenChatGrupal {
  max-width: 40%;
  padding: 10px;
  box-sizing: border-box;
}

.imagenChatGrupal img {
  max-width: 100%;
  height: auto;
}

.textoChatGrupal {
  max-width: 60%;
  box-sizing: border-box;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.chatContainer {
  max-height: 500px;
  height: 400px;
  background-color: #ecf0f3;
  overflow-y: scroll;
  border: 1px solid #ccc;
  padding: 10px;

  margin-bottom: 10px;
}

input[type="text"] {
  width: calc(100% - 30px);
  padding: 10px;
  margin-left: 15px;
  margin-right: 10px;
  box-sizing: border-box;
  background-color: #eff2f3;
}

button {
  width: 400px;
  padding: 5px;
  margin-top: 10px;
  margin-left:15px;
  
  cursor: pointer;
}


.claveModule {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 200px;
  padding: 15px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  background-color: #392de9;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #3450ec;
}



